<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- <form action="/displayChallenge/:year/:day" method="get">
  <input type="text" name="display" />
  {{!-- Change this for dropdowns? --}}
  <select name="type">
    <option value="tv">TV</option>
    <option value="movies">Movies</option>
  </select>
  <input type="submit" value="Search" />
</form> --}}

{{#if listing}}
<ol>
{{#each listing as |result|}}
  <li>{{ result.value }}]
      {{!-- | <a href="/download/?desc={{result.desc}}&type={{result.type}}">Download</a> --}}
      <a href="/Year/?year={{ result.index }}">{{result}}</a>
  </li>
{{/each}}
</ol>
{{else}}
<p>No results are available.</p>
{{/if}}